appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
cssselect==1.1.0
fake-useragent==0.1.11
Flask==2.0.2
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
packaging==21.3
parse==1.19.0
pluggy==1.0.0
py==1.11.0
pyee==8.2.2
pyparsing==3.0.6
pyppeteer==0.2.6
pyquery==1.4.3
pytest==6.2.5
requests==2.26.0
requests-html==0.10.0
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.28
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
w3lib==1.22.0
websockets==9.1
Werkzeug==2.0.2
zipp==3.6.0
